<app-header></app-header>
<app-slider></app-slider>

<div class="center">
  <section id="content">
    <div style="text-align: center">
      
      <router-outlet></router-outlet>

    </div>    
  </section>
<app-sidebar></app-sidebar>
</div>

<app-footer></app-footer>





<!--Versión primera página -->
<!--<app-header></app-header>
<app-slider></app-slider>

<div class="center">
  <section id="content">
    <div style="text-align: center">
      <h1>
        Bienvenido al curso {{ title }}
      </h1>
      <img width="150" alt="Angular logo"
        src="\assets\images\angular.svg">
    </div>
    <hr />    
    <app-mi-componente></app-mi-componente>
  </section>
<app-sidebar></app-sidebar>
</div>

<app-footer></app-footer>
-->

